.figure--full img {
	width: 100%;
}

.figure--full {
	background-color: lighten($clr_C,20%);
	margin:0;
	padding:0;
}

.figure--full figcaption {
	padding-left:   $spacer;
	padding-right:  $spacer;
	padding-bottom: $spacer;
}

.swatches {
    display:grid;
	grid-template-columns: repeat(2,1fr);
    @media screen and (min-width:$breakpoint4) {
	    grid-template-columns: repeat(3,1fr);
    }
    @media screen and (min-width:$breakpoint2) {
	    grid-template-columns: repeat(5,1fr);
    }
    gap:5px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.swatches--secondary {
	//justify-content:space-between;
    .swatch {
	    //width:49%;
	    //min-width: 150px;
	    padding-top:5vmax;
    }
}

.swatch {
	display: block;
	//width:12vmax;
	//min-width: 140px;
	margin-bottom:$spacer*2;
	padding-top:12vmax;
}

.swatch__label {
	padding:$spacer;
	padding-top:$spacer/2;
	padding-bottom:$spacer/2;
	background-color: white;
	margin:2px;
	text-align: center;
	//border:1px solid black;
	//box-sizing: border-box;
}

.swatch--clr_A {
	background-color: $clr_A;
}
.swatch--clr_A_light {
	background-color: $clr_A_light;
}
.swatch--clr_B {
	background-color: $clr_B;
}
.swatch--clr_C {
	background-color: $clr_C;
}
.swatch--clr_C_dark {
	background-color: $clr_C_dark;
}
.swatch--clr_darkgrey {
	background-color: $clr_darkgrey;
}
.swatch--clr_red {
	background-color: $clr_red;
}

table {
	border-collapse: collapse;
}

td {
	padding: $spacer;
	margin:0;
	border-top:1px solid $clr_B;
	text-align: left;
}

h2 {
	line-height: 1.5em;
}

.centerme {
	margin-left: auto;
	margin-right: auto;
    width: 100%;
}

.img-right {
	float:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacer;
	max-width: 100%;
	@media screen and (min-width:$breakpoint3) {
		max-width: 50%;
		float: right;
		margin-left: $spacer;
		margin-right: 0;
	}
}

.quote {
    font-style: italic;
    border-left: 2px solid $clr_B;
    padding-left: $spacer;
}