@mixin gridrow {
	display: grid;
	grid-template-columns: repeat( 12, 8.333% );
}

@mixin visuallyhidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

html {
	 font-size:62.5%;
	 overflow-x: hidden;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size:$fontsize_main;
}

a {
	color:$clr_A;
	text-decoration: none;
}

p a {
	display: inline-block;
	border-bottom: 1px solid $clr_A;
}

.sitewrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	max-width: $maxwidth;
}

.gridrule {
	display: block;
	height: 20px;
	grid-column: 5 / span 4;
	width: 150px;
	background-image: url("/img/headerimg.svg");
	background-size: auto 800px;
	background-position: 300px 500px;
	border: none;
}

.centered {
	text-align: center;
}

.decoblock {
	display: block;
	position: absolute;
	height:100px;
	background-image: url("/img/headerimg.svg");
	background-size: auto 500px;
}

.decoblock--wave {
	width: 200px;
	background-position: -200px center;
}

.decoblock--xu {
	width: 200px;
	background-position: 0 -300px;
}

.decoblock--dots {
	width: 100px;
	background-position: -200px 0px;
}

.decoblock--hammer {
	width: 70px;
	height: 70px;
	background-position: -420px -70px;
	background-size: auto 350px;
	@media screen and (max-width: $breakpoint3) {
		width: 50px;
		height: 50px;
		background-position: -300px -50px;
		background-size: auto 250px;
	}
	@media screen and (min-width:$breakpoint2) {
		width: 100px;
		height: 100px;
		background-position: -600px -100px;
		background-size: auto 500px;
	}
}

.decoblock--br {
	bottom:-70px;
	right: -6vw;
	@media screen and (min-width:$breakpoint2) {
		right: -170px;
	}
}

.decoblock--l {
	left: -6vw;
	top: -40px;
	@media screen and (min-width:$breakpoint2) {
		margin-top: -80px;
		top: 50%;
		left: -90px;
	}
}

.topbar {
	@include gridrow;
	grid-template-areas:
    "ticker ticker ticker ticker secnav secnav secnav secnav secnav secnav secnav secnav";
	//position: fixed;
	@media screen and (max-width:$breakpoint2b) {
		grid-template-areas:
		"ticker ticker ticker ticker ticker ticker ticker ticker ticker ticker ticker ticker";
		text-align: center;
	}
    background-color: black;
}

.topbar--sticky {
    @media screen and (min-width:$breakpoint3) {
        position: fixed;
        top:0;
        z-index: 10;
        width: 100%;
    }
}

.visually-hidden {
    @include visuallyhidden;
}


.pagewrapper {
	transition: padding, 0.5s;
	padding-bottom: 100px;
}

.siteheader {
	width:100%;
}

.logobar {
	@include gridrow;
	grid-template-rows: 33.333% 33.333% 33.333%;
	grid-template-columns: repeat(25,4%);
	grid-template-areas:
	"lg lg lg lg"
	"lg lg lg lg";
	width:100%;
	background-image:url('/img/headerimg.svg');
	background-size: cover;
	background-size: auto 4vw*5;
	height:4vw*3;
	max-height:4vw*3;
	//background-color: $clr_C;
    background-color: $clr_C;


	@media screen and (max-width:$breakpoint1) {
		grid-template-columns: repeat(12,8.33%);
		grid-template-areas:
		"lg lg lg lg"
		"lg lg lg lg";
		background-size: auto 8.333vw*5;
		height:8.333vw*3;
		max-height:8.333vw*3;
	}

	@media screen and (max-width:$breakpoint3) {
		grid-template-areas:
		"no no no no lg lg lg lg"
		"no no no no lg lg lg lg";
	}

}

.navbar {
	@include gridrow;
	@media screen and (max-width:$breakpoint_primnav) {
		position: fixed;
		z-index: 10;
		bottom: 0;
		width: 100%;
		max-width: $maxwidth;
	}
}

.navbar--sticky {
	position: fixed;
	z-index: 10;
	width: 100%;
	//max-width: $maxwidth;
}

.mainlogo {
	display: block;
	text-decoration: none;
	grid-area: lg;
	position: relative;
	//padding: $spacer*2;
	background-color: black;
	background-image:url('/img/logo_white.svg');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	/*@media screen and (max-width:$breakpoint1) {
		background-size: 60%;
	}*/
}

.sitenav--sec {
	//padding:$spacer;
	grid-area: secnav;
	//background-color:$clr_darkgrey;
	text-align: right;
	padding-right:$spacer;
	@media screen and (max-width:$breakpoint3) {
		padding-left:$spacer;
		padding-right:$spacer;
		text-align: center;
	}
}

.sitenav--sec a {
	display: inline-block;
	color:white;
	text-decoration: none;
	padding:$spacer;
	padding-right:calc(0.8rem + 0.8vw);
	padding-left:calc(0.8rem + 0.8vw);
	font-size: calc(0.8rem + 0.8vw) ;
	@media screen and (max-width:$breakpoint3) {
		padding-top:0;
		font-size: calc(1rem + 0.6vw) ;
	}
}

.sitenav__homelink {
	background-image:url('/img/icon_home.svg');
	background-size: contain;
	display: inline-block;
	height:calc(1.4rem + 0.8vw);
	width:calc(1.4rem + 0.8vw);
	background-repeat: no-repeat;
	background-position: center;
	position:relative;
	top: -0.2rem;
    @media screen and (max-width:$breakpoint1) {
	    margin: 0;

    }
	margin: $spacer*2;
}


.sitenav__hamburger {
	background-image:url('/img/icon_hamburger.svg');
	background-size: contain;
	display: inline-block;
	width:calc(0.8rem + 0.8vw);
	height:calc(0.8rem + 0.8vw);
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (min-width: ($breakpoint_primnav + 1px)) {
		@include visuallyhidden;
	}
	margin: $spacer*2;
}

.navbar--sticky .sitenav__homelink {    
    @media screen and (min-width:$breakpoint2b) {
        background-image: url('/img/logo_white_hor.svg');
        min-width:16rem;
        height:100%;
        background-color:black;
        background-position: center;
        background-size: 85%;
        //border-right: 1px solid white;
        margin-right: $spacer;
        //padding: 0;
        margin: 0;
        top: 0;
        &::after{
            border-bottom:0;
        }
    }
}

.sitenav--prim {
	display: flex;
	flex-wrap: wrap;
	background-color: $clr_B;
	height:auto;
	align-items: center;
	@media screen and (min-width: ($breakpoint_primnav + 1px) ) {
		border-bottom:1.2rem solid white;
		background-color: $clr_B;
		border-top: 4px solid white;
	}
	grid-column: 1 / span 12;
	border-top: 4px solid white;
	justify-content: space-between;
	@media screen and (max-width: $breakpoint1) {
		justify-content: space-around;
	}
}
.sitenav--prim .hideonsmall {
	@media screen and (max-width:$breakpoint_primnav) {
		@include visuallyhidden;
	}
}

.sitenav--prim .menuitems {
	display: flex;
	padding:$spacer*2;
	padding-left: 0;
	@media screen and (max-width:$breakpoint_primnav) {
		display:block;
		width: 100%;
		background-color:white;
		padding: 0;
		a {
			font-size: 2rem;
			display: block;
			padding: $spacer;
			border-top:1px solid $clr_B;
		}
	}
}

.sitenav--prim .menuitems .sitenav--sec {
	//background-color:black;
    background-color: white;
	text-align:left;
	padding-right: 0;
	padding-left: 0;
}
.sitenav--prim .menuitems .sitenav--sec a {
	font-size:1.6rem;
}

.menuitems a:first-child {
	@media screen and (min-width:($breakpoint_primnav+1px)) {
		padding-left:0;
	}
}

.menuitems a:last-child {
	@media screen and (min-width:($breakpoint_primnav+1px)) {
		padding-right:0;
	}
}

.sitenav--prim .menuitems--cfp .menuitems__cfp, 
.sitenav--prim .menuitems--tickets .menuitems__tickets,
.sitenav--prim .menuitems--deelnemers .menuitems__deelnemers,
.sitenav--prim .menuitems--wat .menuitems__wat 
{
	&::after{
		border-bottom: ($spacer/2) solid white;
	}
	@media screen and (max-width:$breakpoint_primnav) { 
		&::after{
			content:none;
		}
		border-left: ($spacer/2) solid white;
	}
}

.sitenav--prim a {
	padding-right:$spacer*1.5;
	padding-left:$spacer*1.5;
	&::after{
		border-bottom: ($spacer/2) solid $clr_B;
		display: block;
		width: 100%;
		content: "";
		position: relative;
		top: $spacer*2;
	}
	@media screen and (max-width:$breakpoint_primnav) { 
		&::after{
			content:none;
		}
	}
	color: black;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size:2rem ;

	@media screen and (max-width:$breakpoint0) {
		font-size:1.6rem ;
		padding-right:$spacer;
		padding-left:$spacer;
	}
	@media screen and (max-width:$breakpoint2b) {
		font-size:1.4rem ;
	}
	text-decoration: none;
	@media screen and (max-width:$breakpoint_primnav) {
		padding-right:$spacer;
		padding-left:$spacer;
	}
}


.sitenav--prim a.selected {
	background-color: white;
	color: black;
}

.pagettl {
	@include gridrow;
	padding-top: $spacer*2;
	padding-bottom: $spacer*2;
}

.pagettl h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: calc(3rem + 3vw);
	margin:0;
	grid-column: 2 / span 10;
	@media screen and (min-width:$breakpoint2) {
		grid-column: 4 / span 6;
	}
	text-align: center;
}

.block__ttl {
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}


.ticker {
	grid-area: ticker;
	color:white;
	list-style: none;
	margin: 0;
	background-color:$clr_red;
	padding:$spacer;
	font-size: calc(0.8rem + 0.8vw) ;
}

.ticker li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.maincontent {
	@include gridrow;
	line-height: 1.5em;
	font-size: calc( 1.5rem + 0.5vw );
}

.block--centered {
	max-width:1200px;
	grid-column: 3 / span 8;
	@media screen and (max-width:$breakpoint3) {
		grid-column: 2 / span 10;
	}
}

.block--callout {
	grid-column: 2 / span 10;
	@media screen and (min-width:$breakpoint2) {
		grid-column: 4 / span 6;
	}
	min-height: 150px;
	text-align: center;	
	padding: $spacer*2;
	padding-top: $spacer;
	padding-bottom: $spacer;
	margin-bottom: $spacer*8;
	margin-top: $spacer*4;
	line-height: 1.5em;
	font-size:2rem;
	@media screen and (min-width:$breakpoint3) {
		font-size:3rem;
	}
	border:8px solid $clr_A;
	position: relative;
}


.block--callout.block--noborder {
	border:none;
	background-color:$clr_B;
}

.cta .cta__button {
	display: block;
	background-color:$clr_A;
	color:white;
	border:5px solid black;
	box-shadow: 8px 8px 0 black;
	margin-left: 10%;
	margin-right: 10%;
	padding:1rem;
	&:last-child {
		margin-bottom: 2em;
	}
}

.cta__subtext {
	font-size:calc( 1.3rem + 0.5vw);
	line-height: 1.2em;
	margin-bottom: 1em;
}

.cta__metalink {
	font-size:calc( 0.9rem + 0.5vw);
    color:black;
    line-height: 1.2em;
    border-color: black;
}

.cta__toptext {
	font-size:calc( 1.3rem + 0.5vw);
	line-height: 1.2em;
	margin-bottom: 2em;
}

.sitefooter {
	background-color:black;
	padding:$spacer*2;
	color:white;
	transition: padding, 0.5s;
	@media screen and (max-width:$breakpoint_primnav) {
		padding-bottom:150px;
	}
}

.sitefooter__meta {
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.sitefooter__nav a {
	display: inline-block;
	margin-right: 10px;
}

.sitefooter a {
	color:white;
	text-decoration: none;
	border-bottom:1px solid white;
}
.sitefooter .licenselink {
	border:none;
}

.mailinglist {
	text-align: center;
}

.social {
    margin-top: $spacer*3;
	display: flex;
	justify-content: center;
}

.sociallink {
	width:6rem;
	height: 6rem;
	padding:0.5rem;
	margin-left: $spacer;
	margin-right: $spacer;
	background-color: $clr_A_light;
	&:hover {
		padding: 0;
		border:0.5rem solid $clr_A;
		background-color: transparent;
	}
}

.orgacontact {
	font-style:normal;
}

.langnav {
	padding:$spacer;
	padding-right:$spacer*2;
	display: flex;
	//display: none;
	flex-direction: row-reverse;
}
.langnav a {
	margin-left: $spacer;
}

.sectionnav {
	border-bottom: 1px solid black;
	padding-left:$spacer;
	padding-right:$spacer;
	padding-bottom: $spacer;
	@media screen and (min-width:$breakpoint_primnav) {
		padding-left:$spacer*2;
	}
}

.sectionnav__item {
	display: block;
	border-bottom: 1px solid $clr_A;
	padding-bottom: 5px;
	color: $clr_A;
	margin-bottom:$spacer;
	@media screen and (min-width:$breakpoint_primnav) {
		margin-left:$spacer;
		margin-bottom:0;
		display: inline-block;
	}
}

.sectionnav__ttl {
	@media screen and (min-width:$breakpoint_primnav) {
		display: inline-block;
	}
}

.sectionnav__item--selected {
	border-bottom: 3px solid $clr_A;
}