/* Color Theme Swatches in RGBA */
/*$clr_A: rgba(125,75,179, 1);
$clr_B: rgba(255,216,158, 1);
$clr_A_light: rgba(192,133,255, 1);
$clr_C: rgba(86,204,123, 1);
$clr_C_dark: rgba(84,179,113, 1);*/

$clr_A: rgba(136,53,201, 1);
$clr_B: rgba(255,173,100, 1);
$clr_A_light: rgba(192,133,255, 1);
$clr_C: rgba(60, 232, 179, 1);
$clr_C_dark: rgba(47,173,131, 1);

$clr_red: rgba(255,62,62,1);
$clr_darkgrey: rgba(45,45,45,1);

$spacer: 1.2rem;
$radius: 8px;

// $maxwidth: 1400px;
$maxwidth: 3000px;

$breakpoint-1: 1200px;
$breakpoint0: 1024px;
$breakpoint1: 860px;
$breakpoint2: 800px;
$breakpoint2b: 620px;
$breakpoint3: 460px;
$breakpoint4: 360px;

$breakpoint_primnav: $breakpoint2b;

$fontsize_body: 1.6rem;
$fontsize_main: calc( 1.5rem + 0.5vw );
$fontsize_small: calc( 1.3rem + 0.4vw );