.partners {
	margin-bottom: 10rem;

	@media screen and (min-width:$breakpoint_primnav) {
		margin-bottom: 2rem;
	}
}

.partners h2 {
	font-size: 1.2rem;
	text-align: center;
	padding: $spacer;
}

.partners__logos {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;

    .partner-size-16-bit, .partner-size-8-bit {
        height: 50px;
    }
}

.partners__logo {
	display: inline-block;
	margin: 10px;
	height: 80px;
}


.partners__logo img {
	height: 100%;
	width: auto;
}

.partnerlist-32-bit {
    padding-bottom: $spacer*3;
}

.partnerlist-8-bit, .partnerlist-16-bit {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.partnerlist__partner {
    //border-bottom:8px solid $clr_B;
    padding-bottom: $spacer;
    margin-bottom: $spacer;
    font-size: $fontsize_small;
    line-height:1.5em;
    margin-top: $spacer*3;
    &.partner-size-32-bit:first-child {
        margin-top: 0;
    }
    &.partner-size-8-bit, &.partner-size-16-bit {
        .partnerlist__logo img {
            height: calc( 7rem + 1.5vw );
        }
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
        margin-left:$spacer;
        margin-right: $spacer;
    }
}

.partnerlist__logo {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: $spacer;
    img {
        width: auto;
        max-height: 200px;
        height: 100%;
        max-width: 100%;
    }
}

.partnerlist__desc {
    font-style: italic;
    border-left: 2px solid $clr_B;
    padding-left: $spacer;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
}

.partnerlist__link {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    //padding: $spacer;
    //background-color: lighten($clr_C,30%);
    //box-sizing: border-box;
}
