.partners {
	margin-bottom: 10rem;

	@media screen and (min-width:$breakpoint_primnav) {
		margin-bottom: 2rem;
	}
}

.partners h2 {
	font-size: 1.2rem;
	text-align: center;
	padding: $spacer;
}

.partners__logos {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.partners__logo {
	display: inline-block;
	margin: 10px;
	height: 80px;
}

.partners__logo img{
	height: 100%;
	width: auto;
}
