{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "sass/style.scss" | css.Sass $options | fingerprint }}
<!DOCTYPE html>
<html lang="{{ .Language }}">
	<head>
		<title>
			{{ block "title" . }}
			{{ with .Title }}{{ . }}| {{ end }}{{ .Site.Title }}
			{{ end }}
		</title>
		<link rel="stylesheet" href="{{ $style.Permalink }}">
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="{{ .Description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ partial "favicon.html" . }}
		{{ partial "opengraph.html" . }}
	</head>
	<body>
		<header class="siteheader">
			<div class="topbar">{{ if .Params.showticker }}
				<ul class="ticker">
					<li>14 - 16 {{ if eq .Language.Lang "en" }}August{{ else }}augustus{{ end }} 2020</li>
				</ul>{{ end }}					
				{{ partial "secnav.html" . }}
			</div>
			<div class="logobar">
				<a class="mainlogo" href="/">
					<span class="visually-hidden">Fri3d Camp</span>
				</a>
			</div>
			<div class="navbar">
				{{ partial "sitenav.html" . }}
			</div>
			{{ if not .IsHome }}
			{{ partial "sectionnav.html" . }}
			{{ end }}
		{{ if .IsTranslated }}
		<div class="langnav">
		{{ range .Translations }}
			<a href="{{ .Permalink }}">{{ .Language.Params.LanguageDesc }}</a>
		{{ end}}
		</div>
		{{ end }}
		</header>
		<div class="sitewrapper">
			<div class="pagewrapper">
			{{ with .Title }}
			<div class="pagettl">
				<h1>{{ . }}</h1>
			</div>
			{{ end }}
			{{ block "main" .}}
			{{ end }}
			</div>
			<footer class="sitefooter">
				<div class="sitefooter__meta">
					{{ if eq .Language.Lang "en" }}<p>You're free to distribute the information, images and logos on our site <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.en">freely</a>.</p>{{ else }}
					<p>Je mag de informatie, beelden en logo's op deze site <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.nl">vrij verspreiden</a>.</p>{{ end }}
					<p>
					<a class="licenselink" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.{{ .Language.Lang }}"><img class="cclicense" alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a></p>
				</div>
				<nav class="sitefooter__nav">
					{{ if eq .Language.Lang "en" }}<a href="/en/styleguide">Styleguide</a>{{ else }}<a href="/styleguide">Stijlgids</a>{{ end }}
                    <a href="/deelnemen/excellent/">Gedragscode</a>
                    <a href="/deelnemen/checklist/">Checklist</a>
				</nav>
			</footer>
		</div>

		{{ partial "partnerblok.html" . }}
		
		<script src="/js/jquery-3.4.1.min.js" ></script>
		<script src="/js/gallery.js" ></script>
		<script src="/js/nav.js" ></script>
		{{ block "footer_scripts" .}}
		{{ end }}
	</body>
</html>
