<meta property="og:url"                content="{{ .Permalink | absURL }}" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:description"        content="Fri3d Camp is een gezinsvriendelijk zomerkamp voor hackers, makers en DIY'ers." />
<meta property="og:image"              content="{{ if .Params.socialimg }}{{ .Params.socialimg | absURL }}{{ else }}{{ .Site.Params.socialimg | absURL }}{{ end }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />
<meta name="twitter:image:src"         content="{{ if .Params.socialimg }}{{ .Params.socialimg | absURL }}{{ else }}{{ .Site.Params.socialimg | absURL }}{{ end }}"/>
<meta property="fb:app_id"             content="543312395742355" />
<meta name="twitter:card"              content="summary_large_image">
