<div class="partners">
	<h2>Partners | {{ if eq .Language.Lang "en" }}<a href="/en/partners/">Become a partner</a>{{ else }}<a href="/partners/">Partner worden</a>{{ end }}</h2>
	<ul class="partners__logos">
		{{ range $.Site.Data.partners }}
            {{ $oldlabel := "32 bit" }}
            {{ $mylabel := .label }}
            {{ if and (eq $oldlabel "32 bit") (eq $mylabel "16 bit" ) }}
            <br/>
            {{ end }}
            {{ $oldlabel := $mylabel }}
            {{ range .partners }}
			{{ if not .hidden }}
                <li class="partners__logo partner-size-{{ $mylabel | urlize }}">
					{{ if .url }}
                    <a href="{{ .url }}">
                        <img src="/img/partners/{{ .img }}" alt="{{ .alt }}" />
                    </a>
					{{ else }}
                    <span>
                        <img src="/img/partners/{{ .img }}" alt="{{ .alt }}" />
                    </span>
					{{ end }}
                </li>
			{{ end }}
            {{ end }}
		{{ end }}
	</ul>
</div>
