{{ $currentPage := path.Base .Permalink }}
{{ $currentSection := .Site.GetPage path.Join "/" .Section }}
{{ $subPages := len $currentSection.Pages }}
{{ if lt 0 $subPages }}
<nav class="sectionnav">
	<h3 class="sectionnav__ttl">In dit onderdeel:</h3>	
	<a class="sectionnav__item {{ if eq $currentSection.Permalink .Permalink }} sectionnav__item--selected{{ end }}" href="/{{ $currentSection.Permalink }}">{{ $currentSection.Title }}</a>
	{{ range $currentSection.Pages }}
		{{ $menuPage := path.Base .Permalink }}
		<a class="sectionnav__item {{ if eq $menuPage $currentPage }}sectionnav__item--selected{{ end }}" href="/{{ .Permalink }}">{{ .Title }}</a>
	{{ end }}
</nav>
{{ end }}