<div class="block--callout">
    <div class="decoblock decoblock--wave decoblock--br"></div>

    <div class="decoblock decoblock--dots decoblock--l"></div>
    <h2 class="block__ttl">Hang een affiche op</h2>
    <p>Weet je een goeie plek om <strong>een CfP affiche op te hangen?</strong> Geweldig! Je kan affiches oppikken in de <a href="https://www.meetup.com/nl-NL/OpenGarage/">Open Garage</a> (sowieso een heel goed idee om daar 's langs te gaan!) die je dan een zichtbare plek kan geven in je school, bedrijf, hackerspace,...</p>
    <p>Lukt dat niet, dan kan je ook <a href="/downloads/affiche_CFP.pdf">de affiche (PDF) downloaden</a> om zelf af te drukken en op te hangen.</p>
    <p><strong>Be excellent to each other!</strong></p>
</div>