<h2 class="block__ttl">Contactformulier</h2>
<p>Vul onderstaand formulier in om contact met ons op te nemen.</p>
<section class="contactform">
	<div id="contactForm"></div>
</section>

<script>
	document.addEventListener('DOMContentLoaded', function() {
      $('#contactForm').ZammadForm({
        messageTitle: 'Feedback Form',
        messageSubmit: 'Submit',
        messageThankYou: 'Thank you for your inquiry (#%s)! We\'ll contact you as soon as possible.',
        debug: false,
        modal: false
      });
	});
</script>
