<div class="block--callout block--noborder">
	<div class="decoblock decoblock--dots decoblock--l"></div>
	<div class="cta">
		<h3>Corona update</h3>
		{{ if eq .Site.Language.Lang "en" }}
		<p class="cta__toptext">You might be wondering whether Fri3d Camp 2020 can go ahead as planned? The most honest
			and simple answer to that question is that we can't promise anything. Especially for foreign visitors, the
			situation for August is very uncertain. In any case, Fri3d Camp might very well be the only 'vacation' many
			of us will have this summer, so we are trying to make it the best we can.
		</p>
		<p class="cta__subtext">
			At the moment, we are continuing all preparation work for Fri3d Camp 2020, with proper regard for all
			mandatory and prudent safety precautions. Even more than before, we're doing everything online. Our first
			priority now is to keep everyone healthy and to flatten the curve. So we can still have (part of) an awesome
			summer.
		</p>
		{{ else }}
		<p class="cta__toptext">
			Jullie vragen je misschien af of Fri3d Camp 2020 wel kan doorgaan? Het eenvoudige, en meest eerlijke,
			antwoord daarop is dat nu niemand dat kan garanderen. We kijken er in elk geval nog meer dan voorheen naar
			uit om in augustus samen met jullie ongelooflijk de bosnerd uit te gaan hangen. Het zal voor velen misschien
			de enige vakantie van die zomer zijn, noodgedwongen in eigen land. </p>
		<p class="cta__subtext">
			Wij gaan dus door met de voorbereiding. Uiteraard houden we de aanbevelingen en concrete maatregelen goed in
			acht. Gelukkig is er Het Internet, en kunnen we heel veel dingen op afstand regelen. Net als bij iedereen
			ligt onze eerste prioriteit nu bij ieders gezondheid en het beheersbaar houden van de Corona-pandemie.
			Flatten The Curve is nu het belangrijkste, zodat we er een geweldig Fri3d Camp 2020 van kunnen maken.
		</p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--herringbone decoblock--br"></div>
</div>