<div class="block--callout block--noborder">
	<div class="decoblock decoblock--dots decoblock--l"></div>
	<div class="cta">
		{{ if eq .Site.Language.Lang "en" }}
		<h3>Fri3d Camp 2020 is canceled</h3>
		<p class="cta__toptext">With the current limitations on youth camps this summer, we have no other choice than to cancel Fri3d Camp 2020. This was a tough decision, but one we had to make. It is impossible to create a proper Fri3d Camp experience with contact bubbles of max. fifty persons. It won't be Fri3d Camp, and it won't deliver the experience visitors expect after three editions.
		</p>
		<p class="cta__subtext">
			Sadly, we can also confirm that postponing to 2021 is impossible. Our location (De Kluis) is not available at an appropriate period next summer. Fri3d Camp 2020 will therefore take place... in 2022.
		</p>
		<p class="cta__subtext">
			If you've bought tickets, you will be contacted personally regarding a refund.
			</p>
		{{ else }}
		<h3>Fri3d Camp 2020 gaat niet door</h3>
		<p class="cta__toptext">
Met de aangekondigde beperkingen voor jeugdkampen, kunnen we niet anders dan Fri3d Camp 2020 annuleren. Dit is uiteraard een beslissing die we met pijn in het hart nemen. Het is onmogelijk om iets als Fri3d Camp te organiseren met contactbubbels van vijftig personen. Dan is het geen Fri3d Camp meer, en beleven bezoekers niet de ervaring die ze na drie edities mogen verwachten.
</p>
		<p class="cta__subtext">
Het staat jammer genoeg ook al vast dat we het niet gewoon een jaar kunnen uitstellen. De Kluis is niet meer vrij in de zomer van 2021. Fri3d Camp 2020 zal dus moeten doorgaan in 2022. 
		</p>
		
		<p class="cta__subtext">
			Wie tickets gekocht had, wordt persoonlijk gecontacteerd in verband met de terugbetaling.
			</p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--wave decoblock--br"></div>
</div>