<div class="block--callout block--noborder">
	<div class="decoblock decoblock--hammer decoblock--l"></div>
	<div class="cta cta--program">
		{{ if eq .Site.Language.Lang "en" }}
		<a class="cta__button" href="https://pretalx.fri3d.be/fri3dcamp2022/schedule/">Full program!</a>
		<p class="cta__subtext">Get a taste for what Fri3d Camp has to offer. And there's still time to submit your own activity to the program!</p>
		{{ else }}
		<a class="cta__button" href="https://pretalx.fri3d.be/fri3dcamp2022/schedule/">Het volledige programma!</a>
		<p class="cta__subtext">Droom al even weg bij alle activiteiten van Fri3d Camp. En er is nog tijd om je eigen activiteit in te dienen!</p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--wave decoblock--br"></div>
</div>