<!-- TODOTICKETS
<div class="block--callout block--noborder">
	<div class="decoblock decoblock--dots decoblock--l"></div>
	<div class="cta cta--tickets">
		{{ if eq .Site.Language.Lang "en" }}
		<p class="cta__toptext">Want to enjoy a truly memorable weekend among the trees, meeting lots of interesting people who are just as nerdy as you?</p>
		<a class="cta__button" href="{{ index .Params "href" }}">Order your tickets!</a>
        <p>
        <a class="cta__metalink" href="/tickets">What's included in a ticket?</a>
        </p>
		{{ else }}
		<p class="cta__toptext">Zin in een fijn weekend tussen de bomen waar je nog maanden over kan napraten, en waar je allerlei mensen ontmoet die net zo nerdy zijn als jij?</p>
		<a class="cta__button" href="{{ index .Params "href" }}">Bestel je tickets!</a>
        <p>
        <a class="cta__metalink" href="/tickets">Wat zit er in een ticket?</a>
        </p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--herringbone decoblock--br"></div>
</div>
-->

<!-- TODOTICKETSWAITINGLIST
<div class="block--callout block--noborder">
	<div class="decoblock decoblock--dots decoblock--l"></div>
	<div class="cta cta--tickets">
		{{ if eq .Site.Language.Lang "en" }}
		<p class="cta__toptext">We are completely sold out at the moment, but there is a waiting list if you want to get notified as soon as tickets become available.</p>
		<a class="cta__button" href="https://forms.gle/8PJFPbebuxWfWtfQ7">Put your e-mail address on the waiting list</a>
		{{ else }}
		<p class="cta__toptext">Alle tickets zijn momenteel uitverkocht. Maar er is een wachtlijst, zodat je op de hoogte wordt gebracht van zodra er tickets beschikbaar zijn.</p>
		<a class="cta__button" href="https://forms.gle/8PJFPbebuxWfWtfQ7">Zet je e-mailadres op de wachtlijst</a>
		{{ end }}
	</div>
	<div class="decoblock decoblock--herringbone decoblock--br"></div>
</div>
-->

<!-- TODOTICKETSSOLDOUT
<div class="block--callout block--noborder">
	<div class="decoblock decoblock--dots decoblock--l"></div>
	<div class="cta cta--tickets">
		{{ if eq .Site.Language.Lang "en" }}
		<p class="cta__herotext">Fri3d Camp 2024 is completely sold out.</p>
		{{ else }}
		<p class="cta__herotext">Fri3d Camp 2024 is volledig uitverkocht.</p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--herringbone decoblock--br"></div>
</div>
-->

<div class="block--callout block--noborder">
	<div class="decoblock decoblock--dots decoblock--l"></div>
	<div class="cta cta--tickets">
		{{ if eq .Site.Language.Lang "en" }}
    <p class="cta__herotext">Fri3d Camp 2026 tickets are not yet available, but the <a href="/cfp">Call for Proposals</a> is open!</p>
    <p class="cta__subtext">Want to be kept up to date? Subscribe to the <a href="/en/#mailinglist">mailinglist</a>.</p>
		{{ else }}
    <p class="cta__herotext">Fri3d Camp 2026 tickets zijn nog niet beschikbaar, maar de <a href="/cfp">Call for Proposals</a> is open!</p>
    <p class="cta__subtext">Bij de eersten zijn? Schrijf je in op <a href="/#mailinglist">mailinglist</a>.</p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--herringbone decoblock--br"></div>
</div>
