<div class="block--callout block--noborder">
	<div class="decoblock decoblock--dots decoblock--l"></div>
	<div class="cta cta--cfp">
		{{ if eq .Site.Language.Lang "en" }}
		<a class="cta__button" href="https://app.fri3d.be/app/">Get the app!</a>
		<p class="cta__subtext">A handy web-based app that has all the essential information for participants.</p>
		{{ else }}
		<a class="cta__button" href="https://app.fri3d.be/app/">Open de app!</a>
		<p class="cta__subtext">Een handige web-based app met alle essentiële informatie voor deelnemers.</p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--herringbone decoblock--br"></div>
</div>