<div class="block--callout block--noborder">
	<div class="decoblock decoblock--hammer decoblock--l"></div>
	<div class="cta cta--program">
		{{ if eq .Site.Language.Lang "en" }}
		<a class="cta__button" href="https://pretalx.fri3d.be/fri3dcamp2022/schedule/">Full program!</a>
		<p class="cta__subtext">Check the full program of activities online, or in the <a href="/app">Fri3d app</a>!</p>
		{{ else }}
		<a class="cta__button" href="https://pretalx.fri3d.be/fri3dcamp2022/schedule/">Het volledige programma!</a>
		<p class="cta__subtext">Raadpleeg het volledig programma online, of check het in de <a href="/app">Fri3d app</a>!</p>
		{{ end }}
	</div>
	<div class="decoblock decoblock--herringbone decoblock--br"></div>
</div>