{{ if eq .Site.Language.Lang "en" }}
        <p>This code of conduct is meant for everyone; all participants of Fri3d Camp, workshop organisers, speakers and members of the orga-team. This code is not meant to slap people on the wrist, but to make sure everyone at Fri3d Camp has a great experience.</p>
		<h2>Be Excellent to Eachother</h2>
        <p><strong>&lsquo;Be excellent to each other&rsquo; is the Fri3d Camp motto.</strong> What does this mean? What are the do&rsquo;s en don&rsquo;ts at Fri3d Camp?</p>
        
<h2>Go for low impact&#x1f331;</h2>
        <ul>
        <li>Leave the campsite <strong>cleaner</strong> than how you found it.</li>
        <li><strong>Bring</strong> your own (camping)silverware. <strong>Avoid garbage</strong>.</li>
        <li><strong>Sort out your garbage</strong> or take it home, but under no circumstances leave it lingering on the campsite</li>
        <li>Try to <strong>carpool</strong> and come to Fri3d Camp together.</li></ul>
<h2>Be responsible &#x1f468;&zwj;&#x1f469;&zwj;&#x1f467;&zwj;&#x1f466;</h2>
        <ul>
        <li>Fri3d Camp is familyfriendly, but the orga-team and the activity organisers are <strong>not nannies</strong>. Workshops suitable for kids alone are adequatly marked as such, under normal circumstances young children must be accompanied by an adult.</li>
        <li>Every parent is best placed to assess the independence level of his/her child. Children that play around or roam the campgrounds on their own are fine, but <strong>parents are held responsible at all times</strong>.</li>
        <li>Take heed of <strong>the nescessary safety precautions</strong>. Use eye and ear protection when needed. <strong>In case of emergency</strong> or if any other incident should happen, follow orga-team's instructions.</li>
        <li>Notice anyone without a Fri3d-bracelet? Accompany them to the infodesk and report to an orga-team member that you ran into someone without a bracelet. It is obvious you always wear your own bracelet.</li></ul>
<h2>Be respectful &#x1f64c;</h2>
        <ul>
        <li><strong>Respect</strong> your neighbours' <strong>night's rest</strong> on the camping grounds. </li>
        <li><strong>Keep toilets and showers clean</strong>, so that everyone can enjoy using them.</li>
        <li><strong>Respect the people who are giving workshops, talks,&hellip; </strong>: be on time, show interest and follow their instructions.</li>
        <li><strong>Everyone at Fri3d Camp is a volunteer</strong>. The people in the orga-team that are available all weekend, but also the participants that take on a volunteering shift. Treat them as you would like to be treated.</li>
        <li><strong>Respect each others privacy</strong>, this applies in particular to kids. Only take photos of people who are ok with it. <strong>Respect the wishes of people who don't want to be photographed.</strong></li>
        <li><strong>Respect each other's property.</strong></li>
        <li>When people indicate they want to be left alone, respect their wish.</li>
        <li>Fri3d Camp will not tolerate any form of racism, homophobia, (sexual) intimidation or behaviour that makes other participants feel threatened in any way.</li>
        <li>Orga-team members are clearly recognizable during the camp. Are you uncertain of something or do you have a question, they will love to help you out.</li>
        <li><strong>Smoking is only allowed in the designated areas</strong>, these are clearly marked. We do not want to find any cigarette ends.</li>
        <li>&quot;Assume good faith&quot;, you will encounter very different and even some unique personalities, all with the best intentions, just like yourself.</li>
        <li>Respect gravity.</li></ul>
<h2>Be helpful &#x1f44f;</h2>
        <ul>
        <li><strong>&ldquo;Don&rsquo;t complain, suggest what&rsquo;s better&rdquo;</strong> is the slogan you will see on many laptops. Put this idea into practice.</li>
        <li><strong>Everyone is a volunteer.</strong> So take every opportunity to help out someone in need when you have time.</li>
        <li><strong>Lost items</strong> are welcome at the infodesk.</li>
        <li>Fri3d Camp welcomes hackers, makers and diy&rsquo;ers of different levels and backgrounds. Be helpful supportive, and <strong>stimulate the will to learn</strong>.</li>
        <li>Don't let discussions, conflicts, disagreements&hellip; escalate and make sure you can keep enjoying Fri3d Camp together. If you are unable to find a way out, look for a <strong>mediator</strong>.</li>
        <li>Is someone using the WiFi or other digital tool in an unsafe way? <strong>Help</strong> them make it safer, and don't see it as a chance to hack their devices.</li></ul>

<h2>What happens when the code of conduct is not followed?</h2>
        <p>The orga-team is strict on behaviour, yet mild for people. Excluding someone from the camp is only a last resort. The orga-team will at first always try to defuse situations, remind people of the code of conduct, etc. to change behaviour. There is a <strong>neutral mediator</strong> , to help solve conflicts and friction and to improve cohesion on camp.</p>
        <p>However, in case of repeated or very serious offenses that severely hinder other participants, a person can be removed from the campsite and denied access, without reimbursement of tickets or other expenses.</p>
{{ else }}
    <p>Deze gedragscode geldt voor iedereen; alle andere deelnemers aan Fri3d Camp, organisatoren van workshops, sprekers en leden van het orga-team. Ze dient niet om mensen op de vingers te kunnen tikken, maar om ervoor te zorgen dat Fri3d Camp voor alle deelnemers een aangename ervaring is.</p>
		<h2>Be Excellent to Eachother</h2>
	<p><strong>&lsquo;Be excellent to each other&rsquo; is het Fri3d Camp motto.</strong> Maar wat houdt dat precies in? Wat zijn de do&rsquo;s en don&rsquo;ts van Fri3d Camp?</p>
	
<h2>Ga voor lage impact &#x1f331;</h2>
	<ul>
	<li>Laat het kampterrein <strong>netter achter</strong> dan hoe je het aantrof.</li>
	<li><strong>Breng</strong> je eigen (kampeer)servies mee. <strong>Vermijd afval</strong>.</li>
	<li><strong>Sorteer je afval</strong> of neem het mee terug naar huis, maar laat het in elk geval niet op het terrein rondslingeren.</li>
	<li>Probeer te <strong>carpoolen</strong> en samen met anderen naar Fri3d Camp te komen.</li></ul>
<h2>Wees verantwoordelijk &#x1f468;&zwj;&#x1f469;&zwj;&#x1f467;&zwj;&#x1f466;</h2>
	<ul>
	<li>Fri3d Camp is gezinsvriendelijk, maar het orga-team en de organisatoren van activiteiten zijn <strong>geen kinderoppas</strong>. Workshops die geschikt zijn voor kinderen alleen zijn duidelijk aangegeven, het is de norm dat jonge kinderen vergezeld worden van een volwassene.</li>
	<li>Elke ouder kan zelf het beste inschatten hoe zelfstandig haar/zijn kind is. Kinderen die op eigen houtje op het terrein spelen en rondlopen zijn prima, maar blijven <strong>altijd de verantwoordelijkheid van de ouders</strong>.</li>
	<li>Neem <strong>de nodige veiligheidsvoorschriften</strong> in acht. Gebruik gezichts- en gehoorbescherming wanneer nodig. <strong>In geval van nood</strong> of wanneer zich een incident zou voordoen, volg de instructies van de organisatie.</li>
	<li><span style="font-weight:strong">Merk je iemand op zonder Fri3d-armband? Begeleid haar/hem door naar de infodesk en meld aan een orga-lid dat je iemand zonder bandje bent tegengekomen. Het is vanzelfsprekend dat je zelf altijd je armband draagt.</li></ul>
<h2>Wees respectvol &#x1f64c;</h2>
	<ul>
	<li><strong>Respecteer</strong> op de camping de <strong>nachtrust</strong> van je buren. </li>
	<li><strong>Hou toiletten en douches netjes</strong>, zodat het voor iedereen fijn blijft om er gebruik van te maken.</li>
	<li><strong>Respecteer de mensen die workshops, talks, etc. geven</strong>: wees op tijd, toon interesse en volg hun instructies.</li>
	<li><strong>Iedereen op Fri3d Camp is een vrijwilliger</strong>. De mensen van het orga-team die het hele weekend paraat staan, maar ook de deelnemers die vrijwilligerstaken opnemen. Behandel hen zoals jij ook zou willen behandeld worden.</li>
	<li><strong>Respecteer de privacy van andere deelnemers</strong>, dat geldt in het bijzonder voor kinderen. Neem enkel foto&rsquo;s van mensen die dat OK vinden. <strong>Respecteer de wens van mensen die niet op de foto willen.</strong></li>
	<li><strong>Respecteer de eigendommen van andere deelnemers.</strong></li>
	<li>Als mensen aangeven dat ze met rust gelaten willen worden, doe dat dan ook.</li>
	<li>Fri3d Camp tolereert op geen enkele manier racisme, homofobie, (seksuele) intimidatie of ander gedrag waardoor deelnemers zich bedreigd voelen.</li>
	<li><span style="font-weight:strong">Orga-leden zijn duidelijk herkenbaar tijdens het kamp. Ben je onzeker over iets of heb je een vraag, dan helpen ze je graag verder.</li>
	<li><strong>Roken kan enkel bij de specifiek daarvoor bedoelde plaatsen</strong>, die zijn duidelijk aangegeven. We willen nergens peuken vinden.</li>
	<li>&quot;Assume good faith&quot;, je zal erg verschillende en zelfs zeer unieke mensen tegenkomen maar deze komen met de beste bedoelingen, net zoals jezelf.</li>
	<li>Respecteer de zwaartekracht.</li></ul>
<h2>Wees behulpzaam &#x1f44f;</h2>
	<ul>
	<li><strong>&ldquo;Don&rsquo;t complain, suggest what&rsquo;s better&rdquo;</strong> luidt de slogan die je op veel laptops zal zien staan. Breng dat idee mee in de praktijk.</li>
	<li><strong>Iedereen is vrijwilliger.</strong> Laat dus geen kans onbenut om even ergens in de bres te springen als je tijd hebt.</li>
	<li><strong>Verloren voorwerpen</strong> zijn welkom bij de infodesk.</li>
	<li>Fri3d Camp verwelkomt hackers, makers en diy&rsquo;ers van verschillende niveaus en achtergronden. Wees behulpzaam en ondersteunend, en <strong>stimuleer de wil om te leren</strong>.</li>
	<li>Laat discussies, conflicten, meningsverschillen&hellip; niet escaleren en zorg ervoor dat je samen van Fri3d Camp kan blijven genieten. Zoek, als je er echt niet uit geraakt, de hulp van een <strong>bemiddelaar</strong>.</li>
	<li>Gebruikt iemand op een onveilige manier de WiFi of andere digitale tools? <strong>Help</strong> hen dan om het veiliger te doen, en zie dit niet als uitnodiging om hun toestel te hacken.</li></ul>
	<h2>Wat gebeurt er als je deze gedragsregels niet volgt?</h2>
	<p>Het orga-team is streng voor gedrag en mild voor mensen. Iemand uitsluiten van het kamp is enkel een allerlaatste redmiddel. In eerste instantie zal het orga-team altijd proberen sensibiliseren, situaties te ontmijnen, mensen herinneren aan de gedragsregels, etc. om zo het gedrag te veranderen. Er is een <strong>neutrale bemiddelaar</strong> uitgenodigd, om conflicten en wrijvingen op te lossen en de cohesie op kamp te bevorderen.</p>
	<p>Maar bij herhaalde of bijzonder ernstige inbreuken die overdreven hinderlijk zijn voor andere deelnemers, kan het gebeuren dat iemand verwijderd wordt van het terrein en de toegang ontzegd wordt, zonder vergoeding voor tickets of andere gemaakte kosten.</p>
{{ end }}