	 
	<p><strong>&lsquo;Be excellent to each other&rsquo; is het Fri3d Camp motto.</strong>&nbsp;Maar wat houdt dat precies in? Wat zijn de do&rsquo;s en don&rsquo;ts van Fri3d Camp?</p>
	<p>Deze gedragscode geldt voor iedereen; alle andere deelnemers aan Fri3d Camp, organisatoren van workshops, sprekers en leden van het orga-team. Ze dient niet om mensen op de vingers te kunnen tikken, maar om ervoor te zorgen dat Fri3d Camp voor alle deelnemers een aangename ervaring is.</p>
	<!-- <p>Veelgestelde vragen over Fri3d Camp vind je in <a href="/deelnemen/faq.html">de FAQ</a>, en al wat je nodig hebt om je voor te bereiden staat in onze <a href="/deelnemen/checklist.html">checklist</a>.</p> -->
<h2>Ga voor lage impact &#x1f331;</h2>
	<ul>
	<li>Laat het kampterrein <strong>netter achter</strong>&nbsp;dan hoe je het aantrof.</li>
	<li><strong>Breng</strong>&nbsp;je eigen (kampeer)servies mee. <strong>Vermijd afval</strong>.</li>
	<li><strong>Sorteer je afval</strong>&nbsp;of neem het mee terug naar huis, maar laat het in elk geval niet op het terrein rondslingeren.</li>
	<li>Probeer te <strong>carpoolen</strong>&nbsp;en samen met anderen naar Fri3d Camp te komen.</li></ul>
<h2>Wees verantwoordelijk &#x1f468;&zwj;&#x1f469;&zwj;&#x1f467;&zwj;&#x1f466;</h2>
	<ul>
	<li>Fri3d Camp is gezinsvriendelijk, maar het orga-team en de organisatoren van activiteiten zijn <strong>geen kinderoppas</strong>. Workshops die geschikt zijn voor kinderen alleen zijn duidelijk aangegeven, het is de norm dat jonge kinderen vergezeld worden van een volwassene.</li>
	<li>Elke ouder kan zelf het beste inschatten hoe zelfstandig haar/zijn kind is. Kinderen die op eigen houtje op het terrein spelen en rondlopen zijn prima, maar blijven <strong>altijd de verantwoordelijkheid van de ouders</strong>.</li>
	<li>Neem <strong>de nodige veiligheidsvoorschriften</strong>&nbsp;in acht. Gebruik gezichts- en gehoorbescherming wanneer nodig. <strong>In geval van nood</strong>&nbsp;of wanneer zich een incident zou voordoen, volg de instructies van de organisatie.</li>
	<li><span style="font-weight:strong">Merk je iemand op zonder Fri3d-armband? Begeleid haar/hem door naar de infodesk en meld aan een orga-lid dat je iemand zonder bandje bent tegengekomen. Het is vanzelfsprekend dat je zelf altijd je armband draagt.</li></ul>
<h2>Wees respectvol &#x1f64c;</h2>
	<ul>
	<li><strong>Respecteer</strong>&nbsp;op de camping de <strong>nachtrust</strong>&nbsp;van je buren. </li>
	<li><strong>Hou toiletten en douches netjes</strong>, zodat het voor iedereen fijn blijft om er gebruik van te maken.</li>
	<li><strong>Respecteer de mensen die workshops, talks, etc. geven</strong>: wees op tijd, toon interesse en volg hun instructies.</li>
	<li><strong>Iedereen op Fri3d Camp is een vrijwilliger</strong>. De mensen van het orga-team die het hele weekend paraat staan, maar ook de deelnemers die vrijwilligerstaken opnemen. Behandel hen zoals jij ook zou willen behandeld worden.</li>
	<li><strong>Respecteer de privacy van andere deelnemers</strong>, dat geldt in het bijzonder voor kinderen. Neem enkel foto&rsquo;s van mensen die dat OK vinden. <strong>Respecteer de wens van mensen die niet op de foto willen.</strong></li>
	<li><strong>Respecteer de eigendommen van andere deelnemers.</strong></li>
	<li>Als mensen aangeven dat ze met rust gelaten willen worden, doe dat dan ook.</li>
	<li>Fri3d Camp tolereert op geen enkele manier racisme, homofobie, (seksuele) intimidatie of ander gedrag waardoor deelnemers zich bedreigd voelen.</li>
	<li><span style="font-weight:strong">Orga-leden&nbsp;zijn duidelijk herkenbaar tijdens het kamp. Ben je onzeker over iets of heb je een vraag, dan helpen ze je graag verder.</li>
	<li><strong>Roken kan enkel bij de specifiek daarvoor bedoelde plaatsen</strong>, die zijn duidelijk aangegeven.&nbsp;We willen nergens peuken vinden.</li>
	<li>&quot;Assume good faith&quot;, je zal erg verschillende en zelfs zeer unieke mensen tegenkomen maar deze komen met de beste bedoelingen, net zoals jezelf.</li>
	<li>Respecteer de zwaartekracht.</li></ul>
<h2>Wees behulpzaam &#x1f44f;</h2>
	<ul>
	<li><strong>&ldquo;Don&rsquo;t complain, suggest what&rsquo;s better&rdquo;</strong>&nbsp;luidt de slogan die je op veel laptops zal zien staan. Breng dat idee mee in de praktijk.</li>
	<li><strong>Iedereen is vrijwilliger.</strong>&nbsp;Laat dus geen kans onbenut om even ergens in de bres te springen als je tijd hebt.</li>
	<li><strong>Verloren voorwerpen</strong>&nbsp;zijn welkom bij de infodesk.</li>
	<li>Fri3d Camp verwelkomt hackers, makers en diy&rsquo;ers van verschillende niveaus en achtergronden. Wees behulpzaam en ondersteunend, en <strong>stimuleer de wil om te leren</strong>.</li>
	<li>Laat discussies, conflicten, meningsverschillen&hellip; niet escaleren en zorg ervoor dat je samen van Fri3d Camp kan blijven genieten.&nbsp;Zoek, als je er echt niet uit geraakt, de hulp van een <strong>bemiddelaar</strong>.</li>
	<li>Gebruikt iemand op een onveilige manier de WiFi of andere digitale tools? <strong>Help</strong>&nbsp;hen dan om het veiliger te doen, en zie dit niet als uitnodiging om hun toestel te hacken.</li></ul>
	<h2>Wat gebeurt er als je deze gedragsregels niet volgt?</h2>
	<p>Het orga-team is streng voor gedrag en mild voor mensen. Iemand uitsluiten van het kamp is enkel een allerlaatste redmiddel. In eerste instantie zal het orga-team altijd proberen sensibiliseren, situaties te ontmijnen, mensen herinneren aan de gedragsregels, etc. om zo het gedrag te veranderen.&nbsp;Er is een <strong>neutrale bemiddelaar</strong>&nbsp;uitgenodigd, om conflicten en wrijvingen op te lossen en de cohesie op kamp te bevorderen.</p>
	<p>Maar bij herhaalde of bijzonder ernstige inbreuken die overdreven hinderlijk zijn voor andere deelnemers, kan het gebeuren dat iemand verwijderd wordt van het terrein en de toegang ontzegd wordt, zonder vergoeding voor tickets of andere gemaakte kosten.</p>