<h2 class="block__ttl">Foto's van editie 2018</h2>
<section class="gallery">
	<figure class="gallery__image" style="background-image: url('/photos/fri3d2018/2.jpg')">
		<figcaption>Welkom</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/5.jpg')">
		<figcaption>Workshop</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/7.jpg')">
		<figcaption>Bristlebot</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/13.jpg')">
		<figcaption>Workshop sjorren</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/16.jpg')">
		<figcaption>Fablab truck</figcaption>
	</figure>
	<figure class="gallery__image" style="background-image: url('/photos/fri3d2018/23.jpg')">
		<figcaption>Fri3d Badge workshop</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/25.jpg')">
		<figcaption>Knutselbaar met Ingegno</figcaption>
	</figure>
	<figure class="gallery__image" style="background-image: url('/photos/fri3d2018/39.jpg')">
		<figcaption>Robots van Jan De Coster</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/48.jpg')">
		<figcaption>Raketten lanceren</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/54.jpg')">
		<figcaption>Workshop mechanical keyboards</figcaption>
	</figure>
	<div class="gallery__copyright">Foto's door <a href="https://www.sebastiaanfranco.com/">Sebastiaan Franco</a></div>
</section>
<div class="gallery__overlay gallery__overlay--hidden">
		<figure style="background-image: url('/photos/fri3d2018/54.jpg')">
			<figcaption></figcaption>
		</figure>
	</div>