<h2 class="block__ttl">
		{{ if eq .Site.Language.Lang "en" }}Photos from previous editions{{ else }}Foto's van vorige edities{{ end }}</h2>
<section class="gallery">
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2024/5.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}The 2024 badge{{ else }}De badge in 2024{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2024/8.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}Advanced up-looking{{ else }}Omhoog kijken{{ end }}</figcaption>
		<figcaption>Omhoog kijken</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2022/9.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}'Campfire'{{ else }}'Kampvuur'{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2022/7.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}Many many blinky leds{{ else }}Zeer veel ledjes overal{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2024/3.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}Hammock chilling{{ else }}Relaxen{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image" style="background-image: url('/photos/fri3d2024/11.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}People making LED things!{{ else }}Mensen maken LED dingen{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2024/16.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}Drawing with sunlight{{ else }}Tekenen met zonlicht{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image" style="background-image: url('/photos/fri3d2024/17.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}More blinky leds{{ else }}Nog meer ledjes{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2018/48.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}Launching rockets{{ else }}Raketten lanceren{{ end }}</figcaption>
	</figure>
	<figure class="gallery__image"  style="background-image: url('/photos/fri3d2024/18.jpg')">
		<figcaption>{{ if eq .Site.Language.Lang "en" }}Working phones appearing suddenly{{ else }}Plots verschijnende werkende telefoons{{ end }}</figcaption>
	</figure>
  <div class="gallery__copyright">{{ if eq .Site.Language.Lang "en" }}Photography by{{ else }}Foto's door{{ end }} <a href="https://www.sebastiaanfranco.com/">Sebastiaan Franco</a>, <a href="https://www.flickr.com/photos/maltman23/">Mitch Altman</a>, Chris Wolf en orga-leden.</div>
</section>
<div class="gallery__overlay gallery__overlay--hidden">
	<figure style="background-image: url('/photos/fri3d2018/54.jpg')">
		<figcaption></figcaption>
	</figure>
</div>
