<h2 class="block__ttl">{{ if eq $.Site.Language.Lang "en" }}Stay up to date on Fri3d Camp{{ else }}Blijf op de hoogte over Fri3d Camp{{ end }}</h2>
<p class="centered">{{ if eq $.Site.Language.Lang "en" }}Subscribe to our mailinglist:{{ else }}Schrijf je hier in op de mailinglist:{{ end }}</p>
<section class="mailinglist">
<!-- EmailOctopus embed -->
<link rel="stylesheet"
      href="https://emailoctopus.com/bundles/emailoctopuslist/css/1.6/form.css"
>
<div class="emailoctopus-form-wrapper emailoctopus-form-centered null"
     style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif; color: rgb(26, 26, 26);"
>
  <p class="emailoctopus-success-message"></p>
  <p class="emailoctopus-error-message"></p>
  <form action="https://emailoctopus.com/lists/2e45c17f-d6c3-11eb-96e5-06b4694bee2a/members/embedded/1.3/add"
        method="post"
        data-message-success="Bedankt voor je inschrijving"
        data-message-missing-email-address="Je e-mailadres is vereist"
        data-message-invalid-email-address="Je e-mailadres ziet er niet correct uit, kijk het even na."
        data-message-bot-submission-error="Dit lijkt op een geautomatiseerde inschrijving."
        data-message-consent-required="Please check the checkbox to indicate your consent."
        data-message-invalid-parameters-error="Er zijn ontbrekende of ongeldige velden."
        data-message-unknown-error="Er is een onbekende fout opgetreden"
        class="emailoctopus-form"
  >
    <div class="emailoctopus-form-row">
      <label for="field_0">
        E-mailadres
      </label>
      <input id="field_0"
             name="field_0"
             type="email"
             placeholder
             required="required"
      >
    </div>
    <div aria-hidden="true"
         class="emailoctopus-form-row-hp"
    >
      <input type="text"
             name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
             tabindex="-1"
             autocomplete="nope"
      >
    </div>
    <div class="emailoctopus-form-row-subscribe">
      <input type="hidden"
             name="successRedirectUrl"
      >
      <button type="submit"
              style="background-color: rgb(136, 53, 201); color: rgb(255, 255, 255); font-family: inherit;"
      >
        Inschrijven
      </button>
    </div>
  </form>
  <div class="emailoctopus-rewards">
    Powered by
    <a href="https://emailoctopus.com/?urli=9LhgD&amp;utm_medium=user_referral&amp;utm_source=builder"
       target="_blank"
    >
      EmailOctopus
    </a>
  </div>
</div>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js">
</script>

<!-- /EmailOctopus embed -->

</section>