{{ if eq .Site.Language.Lang "en" }}
<h2 class="block__ttl">The terrain map in 2024</h2>
{{ else }}
<h2 class="block__ttl">Plan van het terein in 2024</h2>
{{ end }}
<div class="grondplanwrapper">
    <section class="grondplan">
        <figure class="grondplan__element grondplan__plan">
            <a href="/downloads/grondplan_print.pdf"><img src="/img/plan.png" alt="grondplan"></a>
        </figure>
        <figure class="grondplan__element grondplan__legend">
            <a href="/downloads/grondplan_print.pdf"><img src="/img/legende.png" alt="legende"></a>
        </figure>
    </section>
</div>
