<h2 class="block__ttl">Plan van het terrein (Fri3d Camp 2022)</h2>
<div class="grondplanwrapper">
    <section class="grondplan">
        <figure class="grondplan__element grondplan__plan">
            <a href="/downloads/grondplan_print.pdf"><img src="/img/plan.png" alt="grondplan"></a>
        </figure>
        <figure class="grondplan__element grondplan__legend">
            <a href="/downloads/grondplan_print.pdf"><img src="/img/legende.png" alt="legende"></a>
        </figure>
    </section>
</div>