{{/*  {{ range $.Site.Data.partners.a }}{{ . }} {{ end }}  */}}


{{ range $.Site.Data.partners }}
    {{ $mylabel := .label }}
    <div class="block--centered partnerlist partnerlist-{{ $mylabel | urlize }}">
    {{ range .partners }}
	{{ if not .hidden }}
    <div class="partnerlist__partner partner-size-{{ $mylabel | urlize }}">
	{{ if .url }}
    <a href="{{ .url }}" class="partnerlist__logo">
    <img src="/img/partners/{{ .img }}" alt="{{ .alt }}" />
    </a>
	{{ else }}
	<span class="partnerlist__logo">
    <img src="/img/partners/{{ .img }}" alt="{{ .alt }}" />
	</span>
	{{ end }}
    {{ if and (or (eq "32 bit" $mylabel) (eq "16 bit" $mylabel) )  .intro }}
    <div class="partnerlist__intro">
    {{ if and (eq $.Site.Language.Lang "nl") (isset .intro "nl") }}
    {{ .intro.nl | markdownify }}
    {{ else if and (isset .intro "en") }}
    {{ .intro.en | markdownify }}
    {{ end }}
    </div>
    {{ end }}
	{{ if and (eq "32 bit" $mylabel) .desc }}
    <div class="partnerlist__desc">
    {{ if and (eq $.Site.Language.Lang "nl") (isset .desc "nl") }}
    {{ .desc.nl | markdownify }}
    {{ else if and (isset .desc "en") }}
    {{ .desc.en | markdownify }}
    {{ end }}
    </div>
    {{ end }}
    </div>
	{{ end }}
    {{ end }}
    </div>
{{ end }}