<section class="social">
    <a href="https://chaos.social/@fri3d" class="sociallink sociallink--mastodon"><img src="/img/icon_mastodon.svg" alt="Mastodon" /></a>
	<a href="https://chaos.social/@fri3d" class="sociallink sociallink--twitter"><img src="/img/icon_twitter.svg" alt="Twitter" /></a>
	<a href="http://www.facebook.com/Fri3dCamp" class="sociallink sociallink--fb"><img src="/img/icon_fb.svg" alt="Facebook" /></a>
	<a href="http://www.instagram.com/fri3dcamp" class="sociallink sociallink--insta"><img src="/img/icon_insta.svg" alt="Instagram" /></a>
</section>